body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: white;
    margin: 14% 20%;
    text-align: center;
    border: 2px solid skyblue;
    border-radius: 15px 15px;
    box-shadow: #41dfff 5px 5px 5px 5px;
}
h1{
    color:Red;
    text-decoration: underline;
    text-shadow: white 2px 2px;
}
h3{
    color: green;
}